summary::-webkit-details-marker {
  display: none;
}
summary {
  display: block;
  padding: 2rem 3rem 2rem 0;
  cursor: pointer;
  position: relative;
}
summary::before,
summary::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: #222;
  right: 1rem;
  top: 2.5rem;
}
summary::after {
  transform: rotateZ(90deg);
}
details p {
  padding-bottom: 2rem;
}
details[open] summary::after {
  display: none;
}

.btn-upload {
  margin: 10px auto 10px auto;
  width: auto;
  height: 40px;
  background: #f2f2f2;
  color: #0068e5;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #0068e5;
    color: #fff;
  }
}

#file {
  display: none;
}

#files {
  display: none;
}

.contents-box {
  background-color: white;
}

input,
textarea {
  border-radius: 5px;
  min-height: 30px;
  padding: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 375px) {
  [type="date"] {
    font-size: 13px;
  }
}
