/* 스크롤바의 폭 너비 */
.scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 5px; /* Firefox */
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #5d6f8431; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
  background: #ffffff; /*스크롤바 뒷 배경 색상*/
}

/*ReviewList swiper css*/

html,
body {
  position: relative;
}
