#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}


.swiper-pagination-bullet, 
.swiper-pagination-bullet-active {
  width: 25px;
  height: 5px;
  border-radius: 15%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 800px; /* 부모 요소의 높이를 명확히 설정 */
}