@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
body {
  background-color: #fffffe;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gradient-border {
  position: relative;
  border: 2px solid transparent;
  border-radius: 10px;
  background: linear-gradient(#0068e5, #9aec5b);
  background-clip: padding-box;
  padding: 4px;
}

.gradient-border::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(to bottom right #0068e5, #9aec5b);
  content: "";
  z-index: -1;
  border-radius: 10px;
}

html,
body {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*일부 드래그 허용*/
.draggable {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

button {
  cursor: pointer;
}
.dot-animation {
  animation: fadeInOut 1.5s infinite;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.5s;
}

.dot-3 {
  animation-delay: 1s;
}
input {
  outline-color: #1a82ff;
}

/* 검색 모달 */
/* 모달 오버레이 스타일 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-overlay.visible {
  opacity: 1;
}

/* 모달 내용 스타일 */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  width: 100%;
  max-width: 500px;
  height: 42vh;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.modal-content.slide-down {
  transform: translateY(0);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.chat {
  overflow-wrap: anywhere;
  word-break: break-all;
  white-space: pre-wrap;
}